services:
  client:
    build:
      context: ./client
    container_name: college-client
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    depends_on:
      - server
    restart: always

  server:
    build:
      context: ./server
    container_name: college-server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    depends_on:
      - mongodb
      - redis
      - rabbitmq
    restart: always

  mongodb:
    image: mongo:7
    container_name: college-mongodb
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:7-alpine
    container_name: college-redis
    ports:
      - "6379:6379"
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: college-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

volumes:
  mongo_data:
  rabbitmq_data: